$primaryLightColor: #74C476;
$primaryColor: #3FA34D;
$primaryDarkColor: #2E7D32;
$primaryDarkerColor: #1B5E20;
$primaryTextColor: #FFFFFF;

$primaryLighterColor: rgba($primaryLightColor,.10);

@import "../sass/theme/_theme_light";